[2016-03-05 13:05] frommberger opened #1 "Dashboard screen at the start"
The first screen should be a "dashboard screen", showing
- A headline
- the login name
- a big button "Issue new Alert"
- a preview list of the latest alert (maybe the most recent 3, as space permits)

There should be an option to go to the full alert list. Everything besided the preview list should show immediately after logging, and download of alerts must be in the background.

[2016-03-05 14:31] frommberger opened #2 "Indicator when loading content"
When content is being loaded (such as the list of templates) and not available for display yet, a progress indicator should be displayed. This should appear in any of these cases.

[2016-03-05 14:34] frommberger opened #3 "Shorten event type list"
Restrict the event type list to pre-defined cases - @waidyanatha should be able to give a list.

Sort list alphabetically.

[2016-03-05 14:52] frommberger opened #4 "Area choice workflow"
I propose the following workflow for are choice:
## Initial Screen
- Show a preview map of the current location and chosen areas - is that easily possible? Should take not more than 30-40% of the screen.
- Two buttons:
  - "Add predefined area"
  - "Draw area on map"
- List of already chosen areas
## Predefined Area Screen
- multiple choice, as done currently
## Draw Area Screen
- directly go to t

[2016-03-05 21:02] frommberger opened #5 "Summary Layout"
Summary takes a lot of space and should be compressed to give a better overview (e.g., labels left, content right, where applicable).

Summary should give a map preview of location too (see #4 ).

Enable to jump back to any step by directly clicking on the item.

[2016-03-06 10:59] frommberger opened #6 "Password before submitting"
For security reasons, ask for a the user's password before finally submitting the alert.

[2016-03-06 11:01] frommberger opened #7 "Login failure should not block"
- If login fails because we are offline, the app should work anyway, using cached content. There must be a message indicating we could not connect.
- If login fails because of authentication failure, give the option to skip login and proceed offline.

[2016-03-06 11:17] frommberger opened #8 "Offline authentication"
In order to not block sending alerts when being offline, there has to be an offline authentication along with the online communication at the Sambro server. I propose the following:
1. Whenever an online authentication succeeds, store the encrypted password locally (use a standard password encryptor)
2. If online authentication fails, authenticate locally.
3. In case of going online again, authent

[2016-03-06 11:59] frommberger opened #9 "Settings section"
A settings section should be provided that can be easily accessed from the menu.

[2016-03-06 12:01] frommberger opened #10 "Change user option"
Give the opportunity to change the user (in settings). A password must be provided there.

In the offline case, the user can only be switched if there is offline authentication data available.

[2016-03-06 12:05] frommberger opened #11 "Never ask for email address for login"
Only print the address and ask for a pasword. User can be switched in settings.

Give a "switch user" option on the same screen, providing a shortcut to settings.

[2016-03-06 23:01] waidyanatha commented on #3
You can JOIN the cap_info table with event_type table on the event_type attribute; that will give you the list of event_types that are associated with a message template.

[2016-03-06 23:04] frommberger commented on #3
I think this is to shrink down the template list, that is already done. But we still have ~40 event types, I thought we would want to restrict the cases there as well?

[2016-03-06 23:11] waidyanatha commented on #3
​In an actual implementation there are fewer event types. The list on the
demo server is a extended list. For example Maldives has only 4 event types
at the moment.

I don't think @bayu is joining the tables to list the event types. If he
did then the list would be small. It is a 2 step process

1) JOIN the templates and event types to retrieve the event types that have
a template to display the l

[2016-03-06 23:12] frommberger commented on #3
Got it now. Agreed on.

[2016-03-08 13:17] frommberger opened #12 "Check Cordova Push Client functionality"
There is a plugin, please check whether it is suitable:
https://github.com/phonegap-build/PushPlugin

[2016-03-08 13:20] frommberger opened #13 "Check suitable push provider / software"
Check which provider to use or which software to run.

Contraints:
- must run everywhere.
- must be ready in a few days

[2016-03-08 13:36] frommberger commented on #12
Another source: http://stackoverflow.com/questions/31968533/google-cloud-messaging-ios-registration-using-cordova-plugins

[2016-03-08 15:54] biplovbhandari commented on #12
@frommberger We have synchronization service in Sahana http://eden.sahanafoundation.org/wiki/UserGuidelines/Admin/Synchronization
But I am not sure if this push from server to mobile device or not. Thoughts @flavour ?

[2016-03-08 16:01] flavour commented on #12
No reason we couldn't use Sync with a Mobile client.
Either the Mobile client is written to emulate a Sahana endpoint (no change required to server) or it has an API & we write a Sahana Sync Adapter to talk to that API

[2016-03-08 16:03] flavour commented on #12
I'm not sure what are the requirements here - the title is way too vague to be meaningful to me.
What I understand as Push notifications are more about the UX.
i.e. we can use Sync, or something like it, in the background but the Push is about notifying the user without them needing to open the App to check for new records?

[2016-03-08 16:09] frommberger commented on #12
The discussion is at the wrong place here anyway, the resources above are Cordova plugins to connect to Google Cloud Messaging, and we need to check whether this is usable at all.

As @flavour is pointing out, Push is about initiating a notification to a registered client from the server side without the need for the client to check for updates. The Sahana Sync mechanism, as I understand is, does

[2016-03-08 16:17] flavour commented on #12
Sync can certainly be started from the Server...but then would require a Public IP currently which obviously isn't going to happen ;) (Or a Dynamic DNS entry which is more plausible but still seems a little fragile to rely on that external service)
If this is about sending notifying of Alerts then this seems the wrong technology.
Am not sure what's wrong with SMS?
I would assume that an App can be

[2016-03-08 16:53] frommberger commented on #12
SMS might be fine, but it's a bit costly, and most likely cannot be implemented in the short time we have available. Moreover, we would need to check whether an SMS can be grabbed seamlessly on all platforms (Android 5+ has this "standard SMS app" functionality, which might interfere). We shortly had the discussion whether it all can be done via email, which is definitely doable and would implemen

[2016-03-08 23:56] waidyanatha commented on #13
There's the pubsubhubbub work that Ambar did with Pat Tressel: https://groups.google.com/forum/#!searchin/sahana-eden/pubsubhubbub/sahana-eden/TONWziRp6Gk/3F8ZNUOLEMAJ

Search on Pubsububbub for more threads on the discussion; perhaps that might be a solution too?

[2016-03-09 12:11] frommberger commented on #13
Pubsubhubbub is designed for server-to-server communication, not suitable for our needs.

[2016-03-09 14:39] frommberger commented on #13
Summary of the research so far:
- iOS does not allow for long running background tasks in its marketplace policy. As I understand it, this forces us to fall back to Apple's own service, APN. It seems that GCM still works through APN, however, this all sounds like very device-specific work
- GCM, Google Cloud Messaging, great for Android, for iOS, see above. Some users don't think GCM is reliable
-

[2016-03-15 07:13] frommberger opened #14 "Build specific files in gitignore"
Put all the files that appear in the build process in gitignore, including the APK.

If you want to commit APKs also, use a specific location that is not overwritten by build (I think you already do).

[2016-03-15 08:10] frommberger commented on #13
RabbitMQ does seem to be a good solution, @anggabayu21 has already some experience also.

[2016-03-15 09:01] anggabayu21 commented on #14
yes this kind of things already done

[2016-03-15 09:15] anggabayu21 commented on #12
Hi,

I want you to test this google cloud messaging push notification in your android mobile app,
so please follow this instructions.
please find the apk in this link https://github.com/waidyanatha/mobileSAMBRO/tree/master/platforms/android/android-debug.apk
then download it.
and also please install it in your android mobile app, if there are already sambro app installed please uninstall it first,

[2016-03-15 09:24] frommberger commented on #12
Is this within the same app? I would recommend a standalone app just for notifications, but leave it for now. We will need to discuss the scope of the alerting app.

What do we need the user profiles for?

[2016-03-15 09:47] anggabayu21 commented on #12
In GCM there are two type of activity, first is the sender and second is receiver.
so for the sender or in this case the SAMBRO server is a sender, so the sender need to have google API key to be able to send the messages and also the sender need to know where the messages should be deliver.
So the mobile app is receiver, when you open the app it will automatically register to GCM services to get

[2016-03-15 09:53] anggabayu21 commented on #12
For this testing, i'm using my local server as a sender. not SAMBRO server

[2016-03-16 09:58] anggabayu21 commented on #13
In my previous work i did some research about Messages Broker. We handled data from Vehicle Tracking Devices , at that time volume of the data very high, each minute data came to the server more than hundred to thousand. so we looked for the best message broker to improve our performance.
Basically we have several server that needed to be feed by message broker.
So we did some research with rabbit

[2016-03-17 08:20] anggabayu21 commented on #10
what do you think about google mail user change in login page,
i made similar process like google in our login page

[2016-03-17 08:24] anggabayu21 commented on #7
when users installed the app at the first time, they have to in online mode to get login and get the data from the server.
i just wondering, if we can skip the password why we just remove the password field.

[2016-03-17 08:26] anggabayu21 commented on #5
some content can content more than one value, so i just keep it.

[2016-03-17 08:31] anggabayu21 commented on #1
can we just put the username inside menu side bar?
i saw the other app like hangout, WA and similar like that they put username inside menu side bar

[2016-03-17 13:29] frommberger commented on #1
As we can change users easily and users have different authorities, it is essential to know who you are right from the start. It should be on the main screen.

[2016-03-17 13:29] #2 closed, assigned to anggabayu21

[2016-03-17 13:29] #3 closed, assigned to anggabayu21

[2016-03-17 13:30] #11 closed, assigned to anggabayu21

[2016-03-17 13:31] frommberger commented on #6
I think we must also show the user name here, with an option to change user. Can be small.

[2016-03-18 09:40] frommberger opened #15 "Change layout in alert details page"
The alert details page should be better to read and assess. In contrast to the summary, this is not meant to check for validity, but to give an overview.
- Skip the headlines whenever it is clear what they are. Instead of "Headline foo" write foo in a larger font.
- Move date up to the top, it's essential
- Include a map
- Remove the delimiters.
- Add "Edit and publish" button for people with the

[2016-03-23 14:56] waidyanatha commented on #7
These are sensitive National systems. Therefore, excessive security is OK
buy within reason. There should not be any security holes.

On Thursday, March 17, 2016, anggabayu21 notifications@github.com wrote:

[2016-03-24 08:09] frommberger opened #16 "Endless loading if no area predefined"
If no area is predefined for a certain event type, the app goes into an endless loading when selecting "predefined area".

[2016-03-24 08:11] frommberger commented on #16
Best would be to have the button greyed out if no area is available. Whether an area is available or not should be checked right after selecting the even type so that this information is already available on this screen.

[2016-03-24 09:19] frommberger opened #17 "Offline behaviour"
If an alert cannot be sent because the client is offline, please show a notification page:

"The alert could not be sent to the server because you are offline at the moment. Please check your network settings.

The alert will be sent as soon you are online again."

[2016-03-24 09:28] frommberger commented on #5
I still think this should be more compressed to enhance overview.
- too much space between headline and values (Status and "System")
- move essential information up: headline, description data

[2016-03-24 09:31] frommberger commented on #4
When asking for the area name, also show the drawn polygon on the map.

[2016-03-24 09:32] frommberger commented on #4
Another minor thing: when coming to the map, make the "draw polygon" functionality preselected, such that you can start drawing immediately.

[2016-03-24 09:36] frommberger opened #18 "Colours in polygon drawing"
The colours for the polygons are very hard to recognize, especially in bright light. They must be more intense and with clear borders.

[2016-03-24 09:37] frommberger commented on #10
I think it is fine as it is.

[2016-03-24 09:37] #10 closed, assigned to anggabayu21

[2016-03-24 09:42] frommberger opened #19 "Editing / deleting areas"
give an “edit” and an “delete” icon near the list, with a confirmation popup in the delete case.

the confirmation popup should also show name of the area and a map view.

[2016-03-29 10:06] frommberger commented on #14
Still, whenever I do a build (cordova build android), I end up with a bunch of local changes under platform/android that prevent me from running clean updates. Isn't it safe to add platforms/ to gitignore?

[2016-03-29 10:10] anggabayu21 commented on #14
okey, i'll try to test it with different path from my existing path file then i can see the problem.

[2016-04-05 08:21] frommberger commented on #14
Works for me.

[2016-04-05 08:21] #14 closed, assigned to anggabayu21

[2016-04-06 20:30] frommberger opened #20 "iOS not natively supported"
It seems the iOS build only builds for an emulator:

[code]

There should be a native iOS build (or an instruction how to achieve it.)

[2016-04-08 07:13] frommberger opened #21 "Offline alert list does not stop loading"
The progress bar for the offline alert list shows an endless loading animation.

Situation: First login after installation, no offline alerts in queue. Also happens after logout/re-login.

[2016-04-08 07:19] anggabayu21 commented on #21
Are you already uninstall the app first?
there some changes in SAMBRO server, so the cached data stored in app is the old data

[2016-04-08 07:28] frommberger opened #22 "Version information"
The app needs a version/build number included for reference. Should be able to look up the version number in preferences. Maybe use Autorevision (https://github.com/Autorevision/autorevision) for this.

[2016-04-08 07:34] frommberger commented on #21
No I did not. Solved the issue. However, as this might happen in future updates also, there must be a way to update with erasing such data, when server changes are happening.

[2016-04-08 08:37] frommberger opened #23 "Split alarm component to separate app"
Provide a second app doing the alarm functionality. Split all the GCM related code from the main app.

App should do the alarm (as currently) and show all the information on the screen. Info is shown until a new alert comes in. Alarm stops at user's request.

[2016-04-08 08:42] frommberger opened #24 "Parameters"
Solve the parameter issues given by @waidyanatha.

Add link to blueprint wiki here.

[2016-04-08 09:10] frommberger opened #25 "Automatically trigger alarm via GCM message"
In the alert case, the GCM message must be triggered automatically by the SAMBRO server.

[2016-04-09 12:56] frommberger opened #26 "Bigger input fields for headline and description"
Provide larger input fields for headline/description. In particular, they should be at least as big as the predefined input from the templates.

Actually, only the first line is shown of predefined input.

[2016-04-09 12:59] frommberger commented on #20
Needs an Apple developer license. Delayed for further decisions.

[2016-04-09 13:01] frommberger commented on #19
Nice, but edit and delete button are too close to each other. They needs some more space between them.

[2016-04-09 13:05] frommberger commented on #4
The two last points are still unresolved: area name input hides the drawn area, and draw polygon is not preselected.

[2016-04-09 13:06] #21 closed, assigned to anggabayu21

[2016-04-09 13:06] #18 closed, assigned to anggabayu21

[2016-04-09 13:08] frommberger commented on #16
Please grey out the button "Predefined area" already, such that I do not need to click it to see that no predefined areas are available.

(Tested with tsunami_mms_fr_en-mv)

[2016-04-09 13:10] #1 closed, assigned to anggabayu21

[2016-04-09 13:13] #17 closed, assigned to anggabayu21

[2016-04-09 13:14] frommberger commented on #15
Also, make the password field more prominent, it can easily be overlooked at the moment.

[2016-04-09 13:14] #6 closed, assigned to anggabayu21

[2016-04-09 13:16] frommberger commented on #5
Also, make the password field more prominent, it can easily be overlooked at the moment.

[2016-04-09 13:18] frommberger commented on #15
@waidyanatha, can you check whether this shows the relevant information?

[2016-04-09 13:19] #8 closed, assigned to anggabayu21

[2016-04-10 06:15] waidyanatha commented on #5
I presume there are 2 separate summary views:
A) Preview newly created alert before submitting
B) View summary of already published alerts

I've seen B) and it is fine, I think. But with A) there is a lot of important information missing.
- Description (very important); because first-responders may want to refer to this information frequently
- Instructions (very important); because first-responde

[2016-04-10 06:20] waidyanatha commented on #26
Headline - Although it is not specified in the CAP specification; in general the CAP community restricts the Headline to 140 chars. Therefore, this can be a single line text bow.

Description - is unrestricted and can hold a large story. Typically, the template provides 95% of the description with option to change some event specific values. These values are maintained as placeholders (.e.g A seve

[2016-04-10 06:44] waidyanatha commented on #24
Here's the general criteria: http://eden.sahanafoundation.org/wiki/BluePrint/CAPBroker/GUIDesign#Parameter

You need to add a section in the mobile app blueprint, here: http://eden.sahanafoundation.org/wiki/BluePrint/CAPMobileApp
The section should explain how you would read the parameters names with sahana: prefix and display them on a mobile screen or multiple screens for the user to enter the v

[2016-04-10 06:48] waidyanatha commented on #23
why do we want to split the app? What are the basic functionality of the two separate apps?
If it is time saving to have it all in one for now, until such time we can define the apps properly, I might recommend keeping it together on a single app for now?

[2016-04-10 10:42] frommberger commented on #23
For now, we keep it together as a proof of concept. There is no time to split it. Thus, I did not assign a milestone for this.

In the long run, let's have it split. Reasons:
1. different user groups - alerts are for everybody, the issuing component is not. The alerting app can be kept extremely small and lightweight.
2. functionality - in order to make the app work reliably on all platforms, we m

[2016-04-10 10:45] frommberger commented on #26
Some templates provide headlines > 140 chars. Plus, 140 chars do not fit into one line either. We need a larger box.

[2016-04-10 13:01] waidyanatha commented on #26
Exactly, it is not a CAP specification to hold the headline to 140 so you could go larger if you want. But that is a norm. OK we make the box bigger!

[2016-04-10 13:03] waidyanatha commented on #23
Great! good if these Reasons and the to-do goes in the Blueprint please :-)

[2016-04-10 18:50] frommberger opened #27 "Change Unique ID"
Actually, the unique ID of the app is "com.gic.cap", should be changed to the Sahana name space.

I would suggest "io.sahana.mobilesambro" or "io.sahana.sambro.mobilesambro".

Ok with this, @waidyanatha?

[2016-04-10 23:15] waidyanatha commented on #27
since sahana.io is the website and the if we consider that the space then
sahana.io.sambro.mobile would suffice?

On Mon, Apr 11, 2016 at 2:50 AM, Lutz notifications@github.com wrote:

[2016-04-11 04:04] anggabayu21 commented on #23
So. for this time being it should be split or just keep it in one app?

[2016-04-11 04:55] frommberger commented on #23
Do not split for now. Do alpha issues first, then beta.

[2016-04-11 14:26] frommberger commented on #27
io.sahana.sambro.mobile (in that order), that is also fine with me. Important is that we can uniquely identify the app, as we cannot change it later after it is first published in play store.

[2016-04-12 14:49] frommberger commented on #27
Just realized that we need this urgently now, as it's critical for preparing the playstore upload. Can you still realize this, @anggabayu21?

[2016-04-12 15:41] anggabayu21 commented on #27
Okey... wait

[2016-04-12 15:49] anggabayu21 commented on #27
DONE .. changed to io.sahana.sambro.mobile

[2016-04-15 08:45] frommberger opened #28 "Human readable times and timezones"
Instead you showing ISO dates (2016-04-15, 03:34:23) print human readable dates, in this case:

April 15, 2016, 3:34 CEST

or even Friday, April 15, 2016 - 3:34

Also, times should _not_ in be in UTC, but shown in the timezone of the current location. But always print timezone along with the date.

[2016-04-15 08:48] frommberger opened #29 "Authentication problems cause endless loading"
When a password is changed on the server, the app gets into an endless loading cycle when trying to receive information from the server.

[2016-04-19 08:20] anggabayu21 commented on #24
Done with dummy data, later if some bug already fixed by biplov and can be merge by fran the data will be changed and get it from the server instead dummy data

[2016-04-22 07:54] #27 closed, assigned to anggabayu21

[2016-04-22 07:57] #26 closed, assigned to anggabayu21

[2016-04-22 07:57] #19 closed, assigned to anggabayu21

[2016-04-22 07:59] frommberger commented on #16
Actually, I cannot reproduce the issue, as the tsunami_mms_fr_en-mv template seems to have disappeared. Won't be able to close it before I can reproduce.

[2016-04-22 08:42] frommberger opened #30 "Back button semantics"
Hitting the system back button causes the app to go to "home", voiding all progress. It must be set to go one step back to the last activity, such as the "prev" button, for example.

[2016-04-22 08:48] frommberger opened #31 "Add server address to settings"
User must be able to change the server address in settings.

After changing servers, make sure local data is reset if needed, and newly synced.

[2016-04-22 09:06] frommberger commented on #25
pull code from Biplov's repository and create another demo instance /web2py/applications/tempdemo and do not corrupt the /web2py/applications/sambro

[2016-04-22 12:13] frommberger opened #32 "Android permissions"
On Android, the app requires access for
- photos/media/files
- microphone
- identity

I do not see why. This should be changed, if we do not have a reason

[2016-04-25 04:47] waidyanatha commented on #24
why is the Myanmar Flood template showing a sahana:tsunami-wave-height-meters parameter?
Why is it showing a Falling Condition parameter, when we said that only parameters with prefix sahana: should be the only ones used?

[2016-04-25 04:48] waidyanatha commented on #4
After drawing a polygon half way and deciding to delete the points to start fresh is not possible. One has to start the entire alert from step 1.

[2016-04-25 04:50] anggabayu21 commented on #4
this is the new bug, after i added preselect draw polygon.

On Mon, Apr 25, 2016 at 11:48 AM, Nuwan Waidyanatha <
notifications@github.com> wrote:

[2016-04-25 04:51] waidyanatha commented on #9
Settings does not provide the option to set the server I want to connect my mobile app to. People in Myanmar should be able to set the app to their SAMBRO and I should be able to set to demo@GIC

[2016-04-25 05:02] waidyanatha opened #33 "message scope workflow"
The message scope with Public, Restricted, and Private; read the specs: ..http://docs.oasis-open.org/emergency/cap/v1.2/CAP-v1.2-os.html

Currently when the Restriction or Private is selected, it is only after several pages that the app asks to enter the Restriction or Address. Why? It should be immediately after setting the option. Why not use the same page to set the scope to enter the Restricti

[2016-04-25 06:48] frommberger commented on #9
We have this already open here:
https://github.com/waidyanatha/mobileSAMBRO/issues/31

Added a milestone, as it's important to have next week.

[2016-04-25 11:10] waidyanatha commented on #9
sorry didn't realize. Please delete the one you don't want then

On Mon, Apr 25, 2016 at 2:48 PM, Lutz notifications@github.com wrote:

[2016-04-26 07:11] anggabayu21 commented on #25
By now i made small application to do push GCM notification.
Notification will be send to mobile app after the alert approved

[2016-04-26 12:41] frommberger commented on #25
Can you give some details about this "app"? Where is it running? How? Is it triggered automatically? What does it do?

[2016-04-26 13:03] anggabayu21 commented on #25
This app is java background application, it is running in AIT local server.
This app will get the latest alert approved data and token id client from SAMBRO API every 30 seconds, and stored the value in local small database and further action to send notification to the GCM server.

[2016-04-26 13:08] anggabayu21 commented on #25
Get latest alert approved data and token_id client from SAMBRO API

[2016-04-28 00:31] waidyanatha commented on #25
I created a heavy rain alert on the web and then approved it but did not
hear a siren alarm on my phone. Used the latest app you sent, reinstalled.

Noticed, when you create an alert on the web and save it, before approving
it shows as an alert on the mobile app. Until the alert is approved it is
not published. Only published (i.e.) approved alerts should show on the
mobile alert list.

Might have

[2016-04-28 02:18] anggabayu21 commented on #25
You didn't receive an alert notification? my phone was ringing.
What username are you using?
is this your username "nuwan@sahanafoundation.org"?
i checked in the web sambro you don't have token_id yet, it should be saved automatically by mobile phone app to your SAMBRO web contact person with the contact method is other and desccription is token_id and value should be your token_id value.
are you

[2016-04-28 05:24] frommberger commented on #25
I received an altert, 12 minutes after Nuwan complained about not getting one. Does that help? (If not, delete this comment)

[2016-04-28 05:25] frommberger commented on #25
@waidyanatha I don't get your comment above - do you talk about alerts created on the app or on the web that show up in the alert list?

[2016-04-28 06:48] waidyanatha commented on #25
I created alert using server web app not mobile app. Does that clarify?

On Thursday, April 28, 2016, Lutz notifications@github.com wrote:

[2016-05-02 21:11] frommberger commented on #22
This is quite important to keep an overview - at least show the version number given in config.xml in the settings section.

[2016-05-02 21:24] frommberger commented on #31
Changes:
- show the current URL in the input field (also to give an example of the syntax)

[2016-05-03 03:19] anggabayu21 commented on #32
access media needed to running the mp3 file to sound the alarm

[2016-05-03 03:23] anggabayu21 commented on #31
it's there .. you should uninstall the app then install again.
or you meant the default value?
i think in the login page we should provide also these feature?
they can change the url before entering the system

[2016-05-03 04:36] anggabayu21 commented on #29
i had changed the password, nothing happened.
even i already changed the password i still able to login into the system.
i already ask this in the group, how to logout from the system using RESTFUL.

[2016-05-03 04:54] frommberger commented on #29
The answers in the group should contain all the information you need - how do you cache the authentication data? Do you use cookies?

[2016-05-03 05:03] frommberger commented on #31
I agree, it is good (and important) to add the change server option _before_ login.

Uninstalling the app is not an option, as we are distributing the app through play store. All updates _must_ work with full functionality without an uninstall. What is the reason that the app should be uninstalled first?

[2016-05-03 05:07] anggabayu21 commented on #29
RESTFUL not using cache or cookies to send the data.
this RESTFUL sambro use http basic security to sending the username and password
in my experience to clear the http basic security is with send the wrong username and password to the server.
but in our SAMBRO case it not happened

[2016-05-03 05:11] anggabayu21 commented on #31
because the table design changed.
if i drop the table then existing data it will destroy.
or i should create immigration data in the app if there some changed with the database, little bit tricky

[2016-05-03 05:19] frommberger commented on #31
Maybe tricky, but essential. At least in Android it's not a big deal, you would call the database migration via "onUpgrade()" - this is only executed if the database version changes.

It is important to keep track of database changes and also change the database version number, plus providing the code to be executed on update.

[2016-05-03 07:10] anggabayu21 commented on #15
edit and published can be access in mobile app also?

[2016-05-03 07:20] anggabayu21 commented on #5
in this mobile app currently we don't have Instructions
and Message Type. i will put it on the app

[2016-05-03 07:31] waidyanatha opened #34 "Map Focus"
Currently the user has to zoom in (repeatedly) to find the location. In general the app users would be issuing alerts in their local areas and not at a National Level. Therefore they should be able to define the map focus in the "Settings".

There might be a button in the map to click to focus to "My Location" but that may take time load? Is there someway we can allow the user to define their pref

[2016-05-03 07:59] frommberger commented on #34
I can't really see the issue. Map focus is the current location, and the zoom level was rather too detailed than too course. Worked always fine for me.

However, the "My Location" button is still missing, correct.

[2016-05-03 08:21] anggabayu21 commented on #34
from where you accessed the app, inside building? you got internet access with wifi or use packet data.
depend on the device itself, if the area is open space you can get your current location faster than inside the building

[2016-05-03 10:37] frommberger commented on #29
If the SAMBRO API is truely restful/stateless, there should not be any data that would be needed to be cleaned. You are sending the authentication with each request, right?

[2016-05-03 13:12] anggabayu21 commented on #29
That's why. i changed the user and the password, but still i able to login.
i also tried in the browser, chrome, safari, mozilla all same

On Tue, May 3, 2016 at 5:37 PM, Lutz notifications@github.com wrote:

[2016-05-03 13:15] frommberger commented on #29
Then it's not a problem with the app. Seems to be a server issue then.

[2016-05-04 03:58] anggabayu21 commented on #4
i zoom out the polygon when the user click submit button.

[2016-05-04 07:00] waidyanatha opened #35 "Validate CAP with Google"
Several of the messages produced by Mobile SAMBRO are not validating with the Google CAP Validator. Take each of the messages produced and then validate them to find and resolve the bugs. Important that CAP specifications 1.2 are precisely implemented; such is with ensuring that the strings don't carry forbidden characters, etc.

For example this alert produced by Mobile SAMBRO does not validate (

[2016-05-06 07:05] frommberger opened #36 "Back button has no effect in alert view"
System back button should have the same effect as "back"
Problems appears in
- alert detail view
- settings

[2016-05-06 07:21] #9 closed, assigned to anggabayu21

[2016-05-06 07:22] #22 closed, assigned to anggabayu21

[2016-05-06 08:05] frommberger commented on #34
If we don't have a location, there is not much we can do about it.

Workaround, as suggested by @anggabayu21: fall back to last location we found, if there is none, use the server's location. For now, server location must be hardcoded, but would be a nice feature to have in the SAMBRO server API.

"Center to current location" button is already there and will get a clearer icon (circle with cross).

[2016-05-06 08:11] frommberger commented on #32
It's due to the plugins for alert (media) and sqlite (identity).

[2016-05-06 08:11] #32 closed, assigned to anggabayu21

[2016-05-06 08:14] #31 closed, assigned to anggabayu21

[2016-05-06 08:14] #30 closed, assigned to anggabayu21

[2016-05-06 08:28] frommberger commented on #28
Seconds should be removed also.

[2016-05-08 14:26] biplovbhandari commented on #29
The change password (<i>eden/default/user/change_password</i>) works for me in web. I don't see any server issue.
However in mobile app, even I change my password through web, I am still able to login and issue alert.

[2016-05-08 15:50] anggabayu21 commented on #29
not web.. web using cookies
but RESTFUL HTTP Basic AUTH

[2016-05-08 15:55] waidyanatha commented on #29
This is mobile app issue and not web. Let's leave @biplovbhandari  out of unless he is needed to resolve this. He's got a lot on his plate.

[2016-05-09 03:38] anggabayu21 commented on #29
Not web issue, not mobile app issue either, but RESTFUL HTTP Basic AUTH.
Mobile app is just client side, if the password changed in the system so the mobile app (client side) should be cannot login and cannot do any further action. Everytime mobile app request API url to the SAMBRO server, it sent username and password encrypt by base_64code. so i think there is some function in the SAMBRO server

[2016-05-09 03:46] biplovbhandari commented on #29
Nothing such function in SAMBRO module. So as this is general EDEN issue (<b>for mobile</b>), should be asked in group

[2016-05-11 13:50] frommberger commented on #29
In any way we need to find out the reason for this behavior. It cannot be resolved on the mobile side alone.

[2016-05-13 08:01] anggabayu21 opened #37 "Layout incompatible with Android <5"
webview problem in android version 4.X makes angularjs and material design not work properly

[2016-05-13 09:45] anggabayu21 commented on #37
@frommberger, i think it will be good if we install the cordova-plugin-crosswalk-webview only for the android < 5 version?
so we will have 2 apk version, i don't know yet it will be easy to maintain or not.

[2016-05-13 13:15] frommberger commented on #37
That will most probably be a nightmare to maintain. What does it change to also have it for the 5.x versions?

[2016-05-15 05:29] waidyanatha commented on #37
If this is a constraint it needs to be mentioned in the User Guidelines and
in the Blueprint.

On Fri, May 13, 2016 at 4:01 PM, anggabayu21 notifications@github.com
wrote:

[2016-05-25 08:55] frommberger commented on #37
Please try to switch to crosswalk. This should have very high priority. Keep us updated about the progress.

[2016-05-27 07:23] frommberger opened #38 "Old logo on login page"
While the app itself shows the high-rez sunflower logo, the login page shows the old one. This should be taken from the same resources.

[2016-05-27 09:06] frommberger commented on #37
1. create a branch for the crosswalk version and push
2. keep master and crosswalk branch in sync
3. I will put a crosswalk and crosswalk release branch to jenkins
4. crosswalk app will be available as beta version in play store

[2016-05-27 09:19] frommberger opened #39 "Add trailing / to server URL if user does not provide it"
When a user is entering the server URL manually, he/she MUST add the "/" at the end of the URL, otherwise it does not connect. However, users are used to omit a trainling "/", as it is never needed for websites, and will likely omit it here also.

So if the manually entered URL does not have the trailing "/", add it.

[2016-05-27 09:24] frommberger opened #40 "Error message for "Server could not be reached""
If the user cannot log in because the server address is wrong or the server is down, there should be the message "SAMBRO server cannot be reached" instead of "Username/Password" wrong.

[2016-05-27 09:30] #4 closed, assigned to anggabayu21

[2016-05-27 09:49] waidyanatha opened #41 "expired - display alerts that are effective"
In Alert list, display only those alerts that have the expire (date) > today (). Thereafter, they get archived. If anyone wants to view any archived alerts they can view that on the web. I don't see a real use for providing a feature for mobile users to view archived alerts; unless you see one.

[2016-05-29 02:29] waidyanatha commented on #33
When I set the scope = Private it says no recipients defined and the Next button is disabled. If no recipients are defined then we should be able to move to the next step.
Check with Biplov - if the policy is that recipients must, absolutely, be defined for scope = private, then if there are no predefined recipients (i.e. person groups), then the Private option should be disabled.

[2016-05-29 09:10] frommberger commented on #29
Before we take further actions, I think what we need to figure out is whether we REALLY actually can "log in", or if the app just _thinks_ it had logged in. The shown behaviour is that weird, we need be be very clear what happens. I suggest choosing a scenario we can reproduce and then record a full log of server requests and responses, at the best on both sides, and then go from there.

[2016-05-29 09:16] frommberger opened #42 "Issue alert button not showing"
The "issue new alert" button might be not showing, even if the user has the needed permissions.

[2016-05-29 09:20] frommberger opened #43 "Private scope and no recipients"
When I set the scope = Private it says no recipients defined and the Next button is disabled. If no recipients are defined then we should be able to move to the next step.

Check with @biplovbhandari  - if the policy is that recipients must, absolutely, be defined for scope = private, then if there are no predefined recipients (i.e. person groups), then the Private option should be disabled.

[2016-05-29 09:21] frommberger commented on #43
Sorry, this was a duplicate for #33. Did not see that. Please ignore.

[2016-05-29 09:21] #43 closed, assigned to anggabayu21

[2016-05-31 03:01] anggabayu21 commented on #42
the reason is not showing is because the user doesn't have a role match with the editor or approval.
the app will get role value from this url "http://sambro.geoinfo.ait.ac.th/eden/default/index/user_info"
the output of the url is a json,
for example :
{
 r: ["a"],
 pid: 27, uid: 12, o: 2
}
r is a role and value a is a approval.

for admin@example.com the role is empty

[2016-05-31 17:19] frommberger commented on #42
So the app is correct and just the roles for admin@example.com are set to the wrong values?

[2016-06-01 04:26] anggabayu21 commented on #37
i tried with the android version 4.4.2 the app works well...
without crosswalk

ASUS Tab

[2016-06-01 04:54] anggabayu21 commented on #42
this is the screenshoot from the user admin@example.com
![screen shot 2016-05-29 at 8 36 34 am](https://cloud.githubusercontent.com/assets/16677809/15698500/875d76b4-27ef-11e6-8190-611c212d91e0.png)

[2016-06-01 05:01] biplovbhandari commented on #42
On Wed, Jun 1, 2016 at 12:19 AM, Lutz notifications@github.com wrote:

not the wrong values. those are intended!
ᐧ

[2016-06-01 06:16] waidyanatha commented on #37
Can send instructions to Tun to try it in Myanmar
On Jun 1, 2016 09:26, "anggabayu21" notifications@github.com wrote:

[2016-06-01 06:17] frommberger commented on #37
Did you change anything to make it work with 4.4.2?

[2016-06-01 06:41] anggabayu21 commented on #37
I also tried with the Samsung Galaxy S 3..
Android version 4.4.2 it worked well

both of the devices have a chrome installed.

[2016-06-01 07:14] frommberger commented on #37
That is good to hear. But did you change anything to make it work?

Android 4.4 already had a (different) version of webview, so we still need to consider version <4.4

[2016-06-02 16:03] anggabayu21 commented on #37
I didn't change anything.
I also tried with the Android Version 4.1.2
the function worked well and the design little bit different with the 4.4.2 version and higher.

[2016-06-02 16:05] frommberger commented on #37
So what was the issue Tun war reporting then? As I understand, chrome is required to be installed for Android 4.x devices to make the app work?

[2016-06-02 16:13] anggabayu21 commented on #37
Tun cannot saw the login form at all.
Its too difficult for me to do debug just by screenshoot.

[2016-06-08 08:32] frommberger opened #44 "Add "Show Password" to login page"
There should be a switch for showing/hiding password when entering. It is much to hard to do without.

[2016-06-08 08:32] #42 closed, assigned to anggabayu21

[2016-06-08 08:35] #38 closed, assigned to anggabayu21

[2016-06-08 08:37] frommberger commented on #28
It is still showing seconds for me in alert view.

[2016-06-08 08:38] #28 closed, assigned to anggabayu21

[2016-06-08 10:29] biplovbhandari opened #45 "Urgency, Severity and Certainty"
Presently the urgency, severity and certainty are set only when there is a warning priority. When there is no warning priority, these three elements are set to Null. Ideally the user should be given the options to set or to change those options. Refer to CAP specification V 1.2

[2016-06-08 10:42] frommberger commented on #45
I think we agreed on setting urgency, severity and certainty always to the same value, or a corresponding value. I am not sure if this also holds for priority. In any case, the values should be set. @waidyanatha

[2016-06-28 08:29] frommberger commented on #44
Generally nice, but now has a quirk:

"Show password" changes to "Hide password", but it also has a checkbox. That does not make sense and is confusing. Just do not change the text.

[2016-06-28 09:02] #39 closed, assigned to anggabayu21

[2016-06-28 09:03] #25 closed, assigned to anggabayu21

[2016-06-28 09:05] #34 closed, assigned to frommberger

[2016-07-08 09:38] frommberger opened #46 "App hangs on connection timeouts"
As it appeared in the Myanmar tests, the app tends to hang. Obviously, this happens due to network timeouts when the connection stalls. This must be carefully tested, and hangs that render the app unresponsive must be avoided.

[2016-07-08 09:41] frommberger opened #47 "Server list on first startup"
On first install, users get asked to choose their server from a predefined hardcoded list. The same list also appears additional to the "switch server" option.

Default setting is the current country, if it matches.

[2016-07-08 09:47] frommberger opened #48 "Provide automatic iOS builds"
Jenkins must be configured such that iOS builds are built remotely on a MacOS build slave. We need to find a suitable machine, as we cannot access the AIT server from remote.

[2016-07-19 10:06] frommberger commented on #46
Make sure you can reproduce the bug first (try to disconnect data while loading on a slow connection); then compare with the fixed version.

[2016-07-19 13:26] waidyanatha commented on #46
It's not a connection issue; it happens when the Server does not send the
complete JSON dataset; the mobile side code is poor in detecting exceptions
and adapting. It assume we live in a perfect world.

On Tue, Jul 19, 2016 at 6:06 PM, Lutz notifications@github.com wrote:

[2016-07-19 13:33] frommberger commented on #46
Are we talking about the same bug here? Doesn't the incomplete data issue in incomplete rendering, instead of a hanging app?

[2016-07-20 00:42] waidyanatha commented on #46
​I though the hanging was due to incomplete rendering and not the
connectivity. Was there another reason for the app to hang?​

On Tue, Jul 19, 2016 at 9:33 PM, Lutz notifications@github.com wrote:

[2016-08-22 08:19] frommberger commented on #47
In 0.0.19, it's not yet like this. When did you put it in?

[2016-08-22 08:29] frommberger opened #49 "App stuck on empty database"
The app gets stuck when
a) there is no template on the server
b) there is no event report published on the server

In case b), the app gets stuck directly after login.
In case a), the app gets stuck after "Issue new event"

[2016-08-22 08:36] frommberger opened #50 "Back behaviour in area definition"
On the "Choose Area" page, "back" brings you back to the wrong step. Same, but different, when pressing back from the map.

Please check the back behaviour carefully around these pages and fix where needed.

[2016-08-22 11:01] frommberger opened #51 "info_parameter.json not readable for everybody"
Obviously, http://drmtl.geoinfo.ait.ac.th/eden/cap/info_parameter.json is not readable for every user role, making the app unable to issue alerts.

[2016-08-22 11:02] #47 closed, assigned to anggabayu21

[2016-08-22 11:28] biplovbhandari commented on #51
The reason being the API is useful for alert editor and approver. And now certainly we need it for Authenticated user too. Have done the fix referenced to https://github.com/sahana/eden/pull/1317/files.
Waiting on Fran to merge the code

[2016-08-23 03:16] frommberger opened #52 "Bigger map sniplets"
The map sniplets in location selection should be considerably bigger.

This was feedback from the session at Regional Awareness Workshop.

[2016-08-25 09:16] #16 closed, assigned to anggabayu21

[2016-08-25 09:16] #44 closed, assigned to anggabayu21

[2016-08-25 09:20] #33 closed, assigned to anggabayu21

[2016-08-25 09:21] #45 closed, assigned to anggabayu21

[2016-08-25 09:22] frommberger commented on #37
Obviously seems to work. Nobody complained.

[2016-08-25 09:22] #37 closed, assigned to anggabayu21

[2017-02-05 04:48] waidyanatha opened #53 "Browser Login Unnessary"
In the mobile app we present a button to "view web alert". The user is already logged and has been authenticated on the server. When we click the view web alert button, the browser opens but requires login again. There should be a mechanism for the mobile app to pass on the credentials to the browser to remove that step; otherwise, it can be anoying and confuse last-mile non-intuitive users.